*.log
*.jou
/fpga/toy-dac/toy-dac.cache
/fpga/toy-dac/toy-dac.gen
/fpga/toy-dac/toy-dac.hw
/fpga/toy-dac/toy-dac.runs
/fpga/toy-dac/toy-dac.sim
kicad/dac/dac-backups/dac-2026-04-15_193132.zip
/kicad/dac/dac-backups
/kicad/dac/dac-backups
*.lck
*.pb
*.jou
/kicad/dac/.history
/xsim.dir
/xsim_lint
/xsim_lint_work
/xsim_work
/fpga/toy-dac.gen
/fpga/toy-dac.srcs
/fpga/toy-dac/xsim.dir
fpga/toy-dac/xvlog.pb
fpga/toy-dac/toy-dac.srcs/utils_1/imports/synth_1/dac.dcp
